 # Files
README.md
QtProject.conf
user-dirs.dirs
gtk-2.0
gtk-3.0

zsh/.zcompdump

# Folder
bashtop
balenaEtcher
bpytop
cmus
calcurse
chromium
ClipGrab
Code
composer
github-copilot
nsxiv
configstore
broot
dconf
dunst
firefox
fontconfig
gh
htop
ktorrent_infowidgetrc
ktorrentrc
lf
libreoffice
mpd
mpv
ncmpcpp
neofetch
newsboat
nnn
sxiv
pinentry
pipewire
pulse
python
ranger
shell
sxiv -> nsxiv
systemd
VirtualBox
vlc
wal
wget
whatsapp-for-linux
wtf
x11
yay
zathura
zed

# Unsorted files & directories
.gsd-keyboard.settings-ported
Code - OSS/
Electron/
GIMP/
GNOME-xdg-terminals.list
Kvantum/
Postman/
aichat/
baloofileinformationrc
baloofilerc
cfg_backups/
code-flags.conf
create-next-app-nodejs/
dleyna-renderer-service.conf
dleyna-server-service.conf
dolphinrc
dooit/
evolution/
fastfetch/
gnome-boxes/
go/
gtk-4.0
hyde/
kde.org/
kdeglobals
kernel.org/
kitty/
lazydocker/
lazygit/
libfm/
libvirt/
lsd/
menus/
nextjs-nodejs/
nvim.old/
nvtop/
nwg-look/
pavucontrol.ini
pcmanfm/
qt5ct/
qt6ct/
rtodo/
runjs/
simple-scan/
swappy/
vifm/
waybar/
wlogout/
xdg-terminals.list
xsettingsd/

Google/ 
ImageResizer/ 
Signal/ 
Your/ 
abook/ 
android/ 
browsh/ 
electron-builder.json 
glow/ 
mise/ 
ngrok/ 
old/ 
qBittorrent/ 
rofi/ 
svelte-electron-forge/ 
swaylock/ 
thefuck/ 
tmux/.tmux 
zsh/.zcompdump-workspaces-5.9 
zsh/.zcompdump-workspaces-5.9.zwc
zsh/.zshenv.runtime.old 
zsh/session.vim
